p {
    text-align: ;
}

ul {
  margin: 0 auto;
  display: inline;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  color:red;
  border: 1px solid black;
}

li {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #E40606;
  float: left;
  border: 1px solid #000;
  color: white;
  text-align: center;
  font-size: 50px;
}


body { 
font-family: 
color:
background 
margin:
font-size: 
text-align:;
}

